@page "/"
@using Ffmpeg;
@inject IJSRuntime Runtime
@using System.IO

<Microsoft.AspNetCore.Components.Forms.InputFile OnChange="fileLoad">

</Microsoft.AspNetCore.Components.Forms.InputFile>
<button class="btn btn-primary" @onclick="Load">Load</button>
<video width="300" height="200" autoplay controls src="@url"></video>

@code
{
    string url;
    byte[] buffer;
    async void fileLoad(InputFileChangeEventArgs v)
    {
        var file = v.GetMultipleFiles()[0];
        //file.CreateObjectURL("g.mp4");
        Stream stream = file.OpenReadStream(100000000);
        var path = $"{file.Name}";
        buffer = new byte[file.Size];
        var format = "video/mp4";
        await stream.ReadAsync(buffer);

        url = FFmpegFactory.CreateURLFromBuffer(buffer, "myFile.mp4", format);
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        if (FFmpegFactory.Runtime == null)
        {
            FFmpegFactory.Logger += (m) => Console.WriteLine(m.type);
            FFmpegFactory.Progress += (m) => Console.WriteLine($"Progress {m.ratio}");
        }
        await FFmpegFactory.Init(Runtime);
    }
    async void Load()
    {
        var ff = FFmpegFactory.CreateFFmpeg(new FFmpegConfig() { Log = false });
        await ff.Load();
        ff.WriteFile("myFile.mp4", buffer);
        await ff.Run("-i","myFile.mp4","-s", "1920x1080","output.avi");
        //  await ffmpeg.run('-i', 'flame.avi', '-s', '1920x1080', 'output.mp4');

        ///Console.WriteLine(buff == null ? "null" : "not null");
        //Console.WriteLine("buffer");
    }
}