@page "/"

<MudText Typo="Typo.h4" Color="Color.Secondary">FFmpegBlazor</MudText>
<br />
<p>
    FFmpegBlazor provides ability to utilize ffmpeg.wasm from Blazor C#.
    ffmpeg.wasm is a pure Webassembly / Javascript port of FFmpeg. It enables video & audio record, convert and stream right inside browsers.
    FFmpegBlazor integrates nicely with Blazor InputFile Component.
</p>
<br />
<br />
<MudText Typo="Typo.h5" Color="Color.Warning">
    Installation
</MudText>
<br />
<p>
    Download package via <a href="https://www.nuget.org/packages/FFmpegBlazor/" style="color:dodgerblue">Nuget</a> or DotNet CLI and you are good to go , no extra configuration required.
</p>
<br />
<MudAlert Severity="Severity.Info">
    dotnet add package FFmpegBlazor
</MudAlert>
<br />
<br />
<MudText Typo="Typo.h5" Color="Color.Warning">
    References
</MudText>
<br />
<p>
    View <a href="https://github.com/sps014/FFmpegBlazor#sample" style="color:dodgerblue"> Minimal Sample </a>.<br />
    Visit<a href="https://github.com/sps014/FFmpegBlazor/wiki" style="color:dodgerblue"> API Documentation</a>.<br />
</p>
<br />
