@page "/"
@using FFmpegBlazor
@inject IJSRuntime Runtime

<MudCard Outlined="true">
    <MudCardContent>
        <MudText Typo="Typo.h5">FFmpegBlazor</MudText>
        <MudText Typo="Typo.body2">
            FFmpegBlazor provides ability to utilize ffmpeg.wasm from Blazor Wasm C#.
            ffmpeg.wasm is a pure Webassembly / Javascript port of FFmpeg. It enables video & audio record, convert and
            stream
            right
            inside browsers.
            FFmpegBlazor integrates nicely with Blazor InputFile Component.
        </MudText>
    </MudCardContent>
    <MudCardActions>
        <a href="/tomp3">
            <MudButton Variant="Variant.Text" Color="Color.Success">Online Convert to  Mp3 Sample </MudButton>
        </a>
    </MudCardActions>
</MudCard>

